:root {
	--pretty-purple: #6040a0;
	--purple-border: #402080;
	--purple-hover: #8060c0;
}
  
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a:link {
	color: var(--pretty-purple);
}

button {
	background-color: var(--pretty-purple);
	border: solid 1px var(--purple-border);
	border-radius: 4px;
	color: white;
	padding: 4px 10px;
}

button.large {
	border-radius: 8px;
	border-width: 2px;
	font-size: 26px;
	margin-top: 20px;
	padding: 8px 20px;
}

button:hover {
	background-color: var(--purple-hover);
	border-color: var(--pretty-purple);
}

header {
	display: flex;
	justify-content: space-between;
}

header div {
	padding: 8px 20px;
}

div#mainContent {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: center;
	margin: 40px auto;
	padding: 0px 40px;
	position: relative;
	width: 600px;
}

div#answerStatus {
	bottom: 0px;
	font-size: 20px;
	font-style: italic;
	position: absolute;
}

div#mainContent ol {
	list-style-position: inside;
	margin-top: 20px;
	padding: 0px 40px;
}


div#mainContent li {
	background-color: var(--pretty-purple);
	border-radius: 4px;
	color: white;
	cursor: pointer;
	margin: 4px;
	padding: 4px 8px;
}

div#mainContent li:hover {
	background-color: var(--purple-hover);
}

div#timer {
	font-size: 20px;
	font-weight: bold;
}

@media screen and (max-width: 575px) {
	div#mainContent {
		width: 100%;
	}
}